<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a5f007ee-de31-4f3b-adf5-2418f05666fc/resourceGroups/rg-pcc-stateless-dev-northeurope-001-d0f5a4c0/providers/Microsoft.Web/sites/pcc-stateless-webapp-mvc-dev-001-9ccda842</ResourceId>
    <ResourceGroup>rg-pcc-stateless-dev-northeurope-001-d0f5a4c0</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://pcc-stateless-webapp-mvc-dev-001-9ccda842.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c24f7483-536c-4d9d-bb48-a3b35039c89d</ProjectGuid>
    <PublishUrl>https://pcc-stateless-webapp-mvc-dev-001-9ccda842.scm.azurewebsites.net/</PublishUrl>
    <UserName>$pcc-stateless-webapp-mvc-dev-001-9ccda842</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>